/* Fonts ####################################################################################### */

/*Cute Egg*/
@font-face {
  font-family: 'Cute Egg';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Cute Egg.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Cute Egg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cute Egg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cute Egg.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Cute Egg.svg#Cute Egg') format('svg'); /* Legacy iOS */
}

/* Night DEMO */
@font-face {
  font-family: 'Night';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Night DEMO.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Night DEMO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Night DEMO.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Night DEMO.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Night DEMO.svg#Night') format('svg'); /* Legacy iOS */
}

/*Louis George Cafe*/
@font-face {
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Louis George Cafe.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Louis George Cafe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Louis George Cafe.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Louis George Cafe.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Louis George Cafe.svg#Louis George Cafe') format('svg'); /* Legacy iOS */
}

/*Hany Petter*/
@font-face {
  font-family: 'Hany Petter';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Hany Petter.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Hany Petter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Hany Petter.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Hany Petter.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Hany Petter.svg#Hany Petter') format('svg'); /* Legacy iOS */
}


/*#### CSS ##################################################################################### */

:root{
  --accent-color-1: #ffbf80;
  --accent-color-2: #80bfff;

  --background-color: #ffffff;

  --dark-color: #404040;
  --medium-color: #808080;
  --light-color: #b0b0b0;

  --navigation-background: #e8e8e8;
  --navigation-foreground: #808080;
  --navigation-hover-background: #ffffff;
  --navigation-hover-foreground: #404040;

  --form-text-border-color: #e8e8e8;
  --button-background-color: #3f9cff;
  --button-foreground-color: #ffffff;
  --submit-background-color: #81ff92;
  --submit-foreground-color: #404040;
  --disabled-background-color: #ffcdcd;
  --disabled-foreground-color: #b0b0b0;

  --navbar-font: 'Night';
  --navmenu-font: 'Louis George Cafe';
  --heading-font-1: 'Cute Egg';
  --heading-font-2: 'Night';
  --page-font: 'Louis George Cafe';
  --thankyou-font: 'Hany Petter';
  --signature-font: 'Hany Petter';
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  }
  
body {
  font-family: var(--page-font);
  font-size: 1em;
  text-align: center;
  background-color: var(--background-color);
  background-image: linear-gradient(135deg, var(--accent-color-1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 66%, var(--accent-color-2) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
}

/* #### Section ############################################################################### */
section {
  margin-top: 5em; 
}
  @media only screen and (max-device-width: 480px) {
    section {
      margin-top: 15em; 
    }
  }

/* #### Index logo (by id) #################################################################### */
#index-logo {
  content:url('../images/logo.svg');
  color: var(--medium-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 75%;
  max-height: 75%;
  margin: auto;
  overflow: auto;
  }

/* #### Headings ############################################################################## */
h1 {
  display: inline-block;
  margin:0;
  font-size: 5em;
  font-weight: normal;
  color: var(--dark-color);
  font-family: var(--heading-font-1);
  text-align: center;
  border-bottom: 2px solid var(--medium-color);
}

h2 {
  display: inline-block;
  margin:0.25em 0 1em 0;
  font-size: 3em;
  font-weight: normal;
  color: var(--medium-color);
  font-family: var(--heading-font-2);
  text-align: center;
}

h3 {
  display: inline-block;
  margin:0.25em 0 0.25em 0;
  font-size: 10em;
  font-weight: normal;
  color: var(--light-color);
  font-family: var(--thankyou-font);
  font-weight: normal;
  text-align: center;
}

/* #### Page ################################################################################## */
div.page {
  margin: auto;
  padding: 0;
  width: 66%;
  border: 0;
  border-radius: 2em;
  background-color: var(--background-color);
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.3);
  text-align: center;
} 
  @media only screen and (max-device-width: 480px) {
    div.page {
      width: 90%;
    }
  }

  div.page a{
    display: inline-block;
    font-size: 1.5em;
    margin:1em auto 1em auto;
    border: none;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: var(--accent-color-1);
    color: var(--dark-color);
    cursor: pointer;
    border-radius: 1em;
    transition: all 0.3s;
    opacity: 0.7;
  }
    div.page a:hover{
      opacity: 1;
    }
    @media only screen and (max-device-width: 480px) {
      div.page a {
        font-size: 3em;
      }
    }

/* #### Pagination ############################################################################ */ 
div.pagination {
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em auto 1em auto;
  padding: 0.25em;
  max-width: 66%;
  width: 66%;
  border: 0;
  border-radius: 2em;
  background-color: var(--background-color);
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.3);
  text-align: center;
} 

  div.pagination a{
    font-size: 1.5em;
    margin:1em 0.25em;
    background-color: var(--accent-color-1);
    border: none;
    color: var(--dark-color);
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    transition: all 0.3s;
    opacity: 0.7;
  }
    div.pagination a:hover{
      opacity: 1;
    }
    @media only screen and (max-device-width: 480px) {
      div.pagination a {
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }

  div.pagination a.pagination-current {
    line-height: 3em;
    font-size: 1em;
    text-decoration:underline;
    background-color: #f0f0f0;
    opacity: 1;
    padding: 0.5em;
  }

  div.pagination a.pagination-link {
    line-height: 3em;
    font-size: 1em;
    background-color: #f0f0f0;
    text-decoration:none;
    opacity: 0.5;
    padding: 0.5em;
  }
    div.pagination a.pagination-link:hover{
    opacity: 1;
    }
        

/* #### Website Signature ##################################################################### */  
div.signature {
  margin: auto;
  padding: 1em 0 2em 0;
  width: 66%;
  text-align: center;
  color: var(--light-color);
  font-family: var(--signature-font);
  font-size: 3em;
} 
div.signature a {
  color: inherit;
  text-decoration: none;
}
div.signature a:hover {
  color: inherit;
  text-decoration: underline;
}

  @media only screen and (max-device-width: 480px) {
    div.signature {
      padding: 0.25em 0 0.5em 0;
      font-size: 7em;
    }
  }

/* #### Gallery Thumbnails ##################################################################### */
img.gallery-thumbnails {
  box-sizing: border-box;
  border: 0.01em solid var(--light-color);
  border-radius: 1em;
  margin: 1%;
  width:256px;
  max-width: 23%;
  width:23%;
  cursor: pointer;
  transition: 0.3s;
}
  img.gallery-thumbnails:hover {
    opacity: 0.7;
    transform: scale(1.03);
  }
  @media only screen and (max-device-width: 480px) {
    img.gallery-thumbnails {
      max-width: 48%;
      width:48%;
      }
  }


/* #### Modal ################################################################################## */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.90);
}

  .modal-content {
    display: block;
    object-fit: contain;
    max-height: 90%;
    max-width: 90%;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  #modal-close-button,
  #modal-download-button,
  #modal-next-button,
  #modal-previous-button {
    position: absolute;
    z-index: 3;
    width: 2.0em;
    height: 2.0em;
    transition: 0.3s;
    opacity: 0.50;
  }

  #modal-close-button {
    top: 0.5em;
    right: 0.5em;
  }
  
  #modal-download-button {
    top: 0.5em;
    bottom: auto;
    right: 3.5em;
  }
  
  #modal-next-button {
    top: 50%;
    right: 0.5em;
  }
  
  #modal-previous-button {
    top: 50%;
    left: 0.5em;
  }
  
  #modal-close-button:hover,
  #modal-close-button:focus,
  #modal-download-button:hover,
  #modal-download-button:focus,
  #modal-next-button:hover,
  #modal-next-button:focus,
  #modal-previous-button:hover,
  #modal-previous-button:focus {
    transform: scale(1.10);
    opacity: 1.00;
    cursor: pointer;
  }
  @media only screen and (max-device-width: 480px) {
    #modal-close-button,
    #modal-download-button {
      width: 5.0em;
      height: 5.0em;
    }
    #modal-close-button {
      top: 3.0em;
      right: 3.0em;
    }
    #modal-download-button {
      top: auto;
      bottom: 3.0em;
      right: 3.0em;
    }
    #modal-next-button,
    #modal-previous-button {
      display: none;
    }
  }
 
/* #### Navigation Bar ######################################################################## */
nav{
	position:fixed;
  top:0;
  left:0;
  margin: 0;
  width: 100%;
  font-size: 1.25em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  z-index: 1;
}	
  nav a {
    color: var(--navigation-foreground);
    text-decoration: none;
  }

  nav ul{
    font-family: var(--navbar-font);
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--navigation-background);
    color: var(--navigation-foreground);
    text-align: center;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
  }
    nav ul li{
      display: inline-block;
      padding: 0.75em 3em 0.75em 3em;
      transition: all 0.3s;
    }
      nav ul li:hover{
        background-color: var(--navigation-hover-background);
        color: var(--navigation-hover-foreground);
        cursor: pointer;
        }

.handle{
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin:0;
  border: 0;
  padding: 0.5em;
  background-color: var(--navigation-background);
  color: var(--navigation-foreground);
  cursor: pointer;
}

/* #### Navigation (for phones) ############################################################### */
@media only screen and (max-device-width: 480px) {
	nav {
    text-align: left;
  }
    nav ul{
      max-height: 0;
      font-family: var(--page-font);
      font-size: 3em;
    } 
    nav ul li{
      box-sizing: border-box;
      width: 100%;
      padding: 0.5em;
      text-align: left;
      border-bottom: 1px solid var(--medium-color);
    }
	
  .handle{
		display: block;
	}
  
  .showing{
		max-height: 100vh;
	}
}

/* #### Navigation Hamburger (for phones) ##################################################### */

#navigation-button {
  padding: 0.5em;
  width: 5em;
  height: 5em;
  transition: all 0.4s;
}

/* #### Forms ################################################################################# */
input[type=text] {
  font-family: var(--page-font);
  display: block;
  margin:1em auto;
  border: 2px solid var(--form-text-border-color);
  border-radius: 1em;
  padding: 1em;
  font-size: 1.5em;
}

input[type=button], input[type=submit], input[type=reset] {
  transition: all 0.3s;
  font-family: var(--page-font);
  font-size: 1.5em;
  display: block;
  margin:1em auto;
  background-color: var(--submit-background-color);
  border: none;
  color: var(--submit-foreground-color);
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1em;
  opacity: 0.7;
}
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    opacity: 1;
  }
  input[type=button]:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-foreground-color);
    cursor: not-allowed;
  }
  @media only screen and (max-device-width: 480px) {
    label, input[type=text], input[type=button], input[type=submit], input[type=reset] {
      font-size: 3em;
    }
  }
  
label {
  font-family: var(--page-font);
  font-size: 2em;
  color: var(--medium-color);
  display: block;
}

form {
  padding: 2em;
}

input[type=file] {
  display:none;
}

#select-photos-label {
  transition: all 0.3s;
  font-family: var(--page-font);
  font-size: 1.5em;
  display: inline-block;
  margin:1em auto;
  background-color: var(--button-background-color);
  border: none;
  color: var(--button-foreground-color);
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1em;
  opacity: 0.7;
}
  #select-photos-label:hover{
    opacity: 1;
  }
  @media only screen and (max-device-width: 480px) {
    #select-photos-label {
      font-size: 3em;
    }
  }
