/* Fonts ####################################################################################### */

/* Script */
@font-face {
  font-family: 'photo-gallery-script';

  src:  url('../fonts/photo_gallery_script.eot'); 
  src:  url('../fonts/photo_gallery_script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_script.woff') format('woff'), 
        url('../fonts/photo_gallery_script.ttf')  format('truetype'),
        url('../fonts/photo_gallery_script.svg#photo-gallery-script') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Serif */
@font-face {
  font-family: 'photo-gallery-serif';

  src:  url('../fonts/photo_gallery_serif.eot'); 
  src:  url('../fonts/photo_gallery_serif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_serif.woff') format('woff'), 
        url('../fonts/photo_gallery_serif.ttf')  format('truetype'),
        url('../fonts/photo_gallery_serif.svg#photo-gallery-serif') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Sans-Serif */
@font-face {
  font-family: 'photo-gallery-sans-serif';

  src:  url('../fonts/photo_gallery_sansserif.eot'); 
  src:  url('../fonts/photo_gallery_sansserif?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_sansserif.woff') format('woff'), 
        url('../fonts/photo_gallery_sansserif.ttf')  format('truetype'),
        url('../fonts/photo_gallery_sansserif.svg#photo-gallery-sans-serif') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Handwriting */
@font-face {
  font-family: 'photo-gallery-handwriting';

  src:  url('../fonts/photo_gallery_handwriting.eot'); 
  src:  url('../fonts/photo_gallery_handwriting.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_handwriting.woff') format('woff'), 
        url('../fonts/photo_gallery_handwriting.ttf')  format('truetype'),
        url('../fonts/photo_gallery_handwriting.svg#photo-gallery-handwriting') format('svg');

  font-weight: normal;
  font-style: normal;
}