/* Fonts ####################################################################################### */

/* Script */
@font-face {
  font-family: 'photo-gallery-script';

  src:  url('../fonts/photo_gallery_script.eot'); 
  src:  url('../fonts/photo_gallery_script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_script.woff') format('woff'), 
        url('../fonts/photo_gallery_script.ttf')  format('truetype'),
        url('../fonts/photo_gallery_script.svg#photo-gallery-script') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Serif */
@font-face {
  font-family: 'photo-gallery-serif';

  src:  url('../fonts/photo_gallery_serif.eot'); 
  src:  url('../fonts/photo_gallery_serif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_serif.woff') format('woff'), 
        url('../fonts/photo_gallery_serif.ttf')  format('truetype'),
        url('../fonts/photo_gallery_serif.svg#photo-gallery-serif') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Sans-Serif */
@font-face {
  font-family: 'photo-gallery-sans-serif';

  src:  url('../fonts/photo_gallery_sansserif.eot'); 
  src:  url('../fonts/photo_gallery_sansserif?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_sansserif.woff') format('woff'), 
        url('../fonts/photo_gallery_sansserif.ttf')  format('truetype'),
        url('../fonts/photo_gallery_sansserif.svg#photo-gallery-sans-serif') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* Handwriting */
@font-face {
  font-family: 'photo-gallery-handwriting';

  src:  url('../fonts/photo_gallery_handwriting.eot'); 
  src:  url('../fonts/photo_gallery_handwriting.eot?#iefix') format('embedded-opentype'),
        url('../fonts/photo_gallery_handwriting.woff') format('woff'), 
        url('../fonts/photo_gallery_handwriting.ttf')  format('truetype'),
        url('../fonts/photo_gallery_handwriting.svg#photo-gallery-handwriting') format('svg');

  font-weight: normal;
  font-style: normal;
}

/* molle-italic - latin */
@font-face {
  font-family: 'Molle';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/molle-v21-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/molle-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/molle-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/molle-v21-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/molle-v21-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/molle-v21-latin-italic.svg#Molle') format('svg'); /* Legacy iOS */
}