/* Fonts ####################################################################################### */

/*Cute Egg*/
@font-face {
  font-family: 'Cute Egg';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Cute Egg.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Cute Egg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cute Egg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cute Egg.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Cute Egg.svg#Cute Egg') format('svg'); /* Legacy iOS */
}

/* Night DEMO */
@font-face {
  font-family: 'Night';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Night DEMO.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Night DEMO.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Night DEMO.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Night DEMO.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Night DEMO.svg#Night') format('svg'); /* Legacy iOS */
}

/*Louis George Cafe*/
@font-face {
  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Louis George Cafe.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Louis George Cafe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Louis George Cafe.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Louis George Cafe.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Louis George Cafe.svg#Louis George Cafe') format('svg'); /* Legacy iOS */
}

/*Hany Petter*/
@font-face {
  font-family: 'Hany Petter';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Hany Petter.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/Hany Petter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Hany Petter.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Hany Petter.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Hany Petter.svg#Hany Petter') format('svg'); /* Legacy iOS */
}